<footer class="footer">
    <div class="footer__container container">
        <div class="footer__left-side">
            <ul>
                <li>
                    <a href="#">Пользовательское соглашение файл во вложении</a>
                </li>
                <li>
                    <a href="#">Политика использования Cookie файлов</a>
                </li>
                <li>
                    <a href="#">Политика обработки персональных данных</a>
                </li>
            </ul>
            <div class="footer__social-block">
                <a href="#" class="button">Поиск</a>
                <ul class="footer__social social">
                    <li>
                        <a href="#">
                            <img src="img/sprite/ok.svg" alt="Одноклассники">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/sprite/fb.svg" alt="Facebook">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/sprite/insta.svg" alt="Instagram">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/sprite/vk.svg" alt="ВКонтакте">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__right-side">
            <a href="#" class="footer__logo">
                <img src="img/sprite/logo.svg" alt="Логотип Uniprolings">
            </a>
            <p class="footer__info">
                <span>Онлайн образовательная платформа – портал</span> 
                <span>«Национальное инклюзивное образование».</span>
                <span>© ФЭФ, 2020 г.</span>
                <span>Разработан по лицензии ® Uniprolings</span> 
            </p>
        </div>
    </div>
</footer>
