<header class="header">
    <div class="header__container container">
        <a href="#" class="header__plugin bvi-open">Версия для слабовидящих <img src="img/sprite/eye.svg" alt="глаз"></a>
        <a href="#" class="header__search">
             <span class="header__block-title">Поиск</span>
            <img src="img/sprite/search.svg" alt="иконка лупы">
        </a>
        <div class="ya-share2" data-curtain data-shape="round" data-services="vkontakte,facebook,odnoklassniki"></div>
        <div class="header__search-block search search--header" style="display: none">
            <form action="#" method="post">
                <label for = 'header-search'>Введите текст для поиска:</label>
                <input type="text" id="header-search" name="search">
            </form>
            <button class="search__close">
                <img src="img/sprite/cross.svg" alt="кнопка закрыть">
            </button>
        </div>
    </div>

</header>
