.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-weight: 500;
    color: $light;
    border: 1px solid $button;
    border-radius: 4px;
    background-color: $button;
    text-decoration: none;
    box-shadow: none;
    width: 100%;
    max-width: 345px;
    min-height: 60px;

    &--small {
        min-height: 50px;
    }

    &--light {
        background-color: white;
        color: $button;
    }
}