.social {
    @include list-reset;
    display: flex;

    & li:not(:last-child) {
        margin-right: 24px;
    }

    & a {
        transition: opacity 0.4s ease;

        &:hover {
            transition: opacity 0.4s ease;
            opacity:0.8;
        }

        &:focus {
            transition: opacity 0.4s ease;
            opacity:0.8;
        }
    }
}